Service References/GetSoilsInfo/soils.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSoilsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InputLatLong" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ssaCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="urban" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoilsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoilsInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSoilsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSoilsInfo" />
  </wsdl:message>
  <wsdl:message name="GetSoilsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSoilsInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SoilsSoap">
    <wsdl:operation name="GetSoilsInfo">
      <wsdl:input message="tns:GetSoilsInfoSoapIn" />
      <wsdl:output message="tns:GetSoilsInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoilsSoap" type="tns:SoilsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSoilsInfo">
      <soap:operation soapAction="http://tempuri.org/GetSoilsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoilsSoap12" type="tns:SoilsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSoilsInfo">
      <soap12:operation soapAction="http://tempuri.org/GetSoilsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soils">
    <wsdl:port name="SoilsSoap" binding="tns:SoilsSoap">
      <soap:address location="http://nn.tarleton.edu/SoilInformation/soils.asmx" />
    </wsdl:port>
    <wsdl:port name="SoilsSoap12" binding="tns:SoilsSoap12">
      <soap12:address location="http://nn.tarleton.edu/SoilInformation/soils.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>