Service References/NTTCalcHU1/NTTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getHU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crop" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="nlat" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="nlon" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="plantingJulianDay" type="s:unsignedShort" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getHUResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jdt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="m" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="nt" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jdtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jdtResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeatherFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nlat" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="nlon" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeatherFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatherFileResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getHUSoapIn">
    <wsdl:part name="parameters" element="tns:getHU" />
  </wsdl:message>
  <wsdl:message name="getHUSoapOut">
    <wsdl:part name="parameters" element="tns:getHUResponse" />
  </wsdl:message>
  <wsdl:message name="jdtSoapIn">
    <wsdl:part name="parameters" element="tns:jdt" />
  </wsdl:message>
  <wsdl:message name="jdtSoapOut">
    <wsdl:part name="parameters" element="tns:jdtResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeatherFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeatherFile" />
  </wsdl:message>
  <wsdl:message name="GetWeatherFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatherFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="getHU">
      <wsdl:input message="tns:getHUSoapIn" />
      <wsdl:output message="tns:getHUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="jdt">
      <wsdl:input message="tns:jdtSoapIn" />
      <wsdl:output message="tns:jdtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherFile">
      <wsdl:input message="tns:GetWeatherFileSoapIn" />
      <wsdl:output message="tns:GetWeatherFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHU">
      <soap:operation soapAction="http://tempuri.org/getHU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jdt">
      <soap:operation soapAction="http://tempuri.org/jdt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherFile">
      <soap:operation soapAction="http://tempuri.org/GetWeatherFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHU">
      <soap12:operation soapAction="http://tempuri.org/getHU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jdt">
      <soap12:operation soapAction="http://tempuri.org/jdt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherFile">
      <soap12:operation soapAction="http://tempuri.org/GetWeatherFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://nn.tarleton.edu/NTTCalcHU1/NTTService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://nn.tarleton.edu/NTTCalcHU1/NTTService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>