Service References/NTTCalcHU/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownloadAPEXFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NTTFilesFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="session1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAPEXFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAPEXFolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create_wp1_from_weather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wp1name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="controlvalue5" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pgm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_wp1_from_weatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Create_wp1_from_weatherResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crop" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="nlat" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="nlon" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="plantingJulianDay" type="s:unsignedShort" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getHUResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jdt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="m" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="nt" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jdtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jdtResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadAPEXFolderSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAPEXFolder" />
  </wsdl:message>
  <wsdl:message name="DownloadAPEXFolderSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAPEXFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeather" />
  </wsdl:message>
  <wsdl:message name="GetWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="Create_wp1_from_weatherSoapIn">
    <wsdl:part name="parameters" element="tns:Create_wp1_from_weather" />
  </wsdl:message>
  <wsdl:message name="Create_wp1_from_weatherSoapOut">
    <wsdl:part name="parameters" element="tns:Create_wp1_from_weatherResponse" />
  </wsdl:message>
  <wsdl:message name="getHUSoapIn">
    <wsdl:part name="parameters" element="tns:getHU" />
  </wsdl:message>
  <wsdl:message name="getHUSoapOut">
    <wsdl:part name="parameters" element="tns:getHUResponse" />
  </wsdl:message>
  <wsdl:message name="jdtSoapIn">
    <wsdl:part name="parameters" element="tns:jdt" />
  </wsdl:message>
  <wsdl:message name="jdtSoapOut">
    <wsdl:part name="parameters" element="tns:jdtResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DownloadAPEXFolder">
      <wsdl:input message="tns:DownloadAPEXFolderSoapIn" />
      <wsdl:output message="tns:DownloadAPEXFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <wsdl:input message="tns:GetWeatherSoapIn" />
      <wsdl:output message="tns:GetWeatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_wp1_from_weather">
      <wsdl:input message="tns:Create_wp1_from_weatherSoapIn" />
      <wsdl:output message="tns:Create_wp1_from_weatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getHU">
      <wsdl:input message="tns:getHUSoapIn" />
      <wsdl:output message="tns:getHUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="jdt">
      <wsdl:input message="tns:jdtSoapIn" />
      <wsdl:output message="tns:jdtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadAPEXFolder">
      <soap:operation soapAction="http://tempuri.org/DownloadAPEXFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/GetWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_wp1_from_weather">
      <soap:operation soapAction="http://tempuri.org/Create_wp1_from_weather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHU">
      <soap:operation soapAction="http://tempuri.org/getHU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jdt">
      <soap:operation soapAction="http://tempuri.org/jdt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadAPEXFolder">
      <soap12:operation soapAction="http://tempuri.org/DownloadAPEXFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <soap12:operation soapAction="http://tempuri.org/GetWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_wp1_from_weather">
      <soap12:operation soapAction="http://tempuri.org/Create_wp1_from_weather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHU">
      <soap12:operation soapAction="http://tempuri.org/getHU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jdt">
      <soap12:operation soapAction="http://tempuri.org/jdt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://nn.tarleton.edu/weather/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://nn.tarleton.edu/weather/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>